<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662500750655-on3vq74dc10qqoc1r73q7o5949m2jcuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662500750655-on3vq74dc10qqoc1r73q7o5949m2jcuu</string>
	<key>API_KEY</key>
	<string>AIzaSyCU7R-NN9hiWPwqEE919CK830o6XO8Ahh8</string>
	<key>GCM_SENDER_ID</key>
	<string>662500750655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.team9</string>
	<key>PROJECT_ID</key>
	<string>team999</string>
	<key>STORAGE_BUCKET</key>
	<string>team999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662500750655:ios:1f7f2537f502b5c44e0f8a</string>
</dict>
</plist>